:root {
    --bg-color: rgb(20, 20, 20);
    --card-color: rgb(23, 23, 23);
    --text-color: rgb(150,150,150);
}

body {
    align-items: center;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    color: var(--text-color);
    font-family: monospace;
    overflow-y: auto;
    min-height: 100vh;
}

.table-container,
.timer-container {
    width: 40%;
}

.answer-display {
    width: 1800px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
}